<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Surah Al-Ikhlas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="/assets/kulahad.jpg"></ion-img>
<audio src="/assets/kulahad.mp3" controls></audio>
Kelebihan Surah Al-Ikhlas
<br><br>
1. Tercapai Setiap Hajat
<br><br>
2. Penawar Penyakit
<br><br>
3. Menghindari Kesukaran
<br><br>
4. Menundukkan Orang Zalim
<br><br>
5. Diselamatkan Dari Di Zalimi Makhluk Lain
<br><br>
6. Mengurangkan Rasa Lapar Dan Dahaga
<br><br>
7. Menghindarkan Diri Dari Segala Bencana
<br><br>

</ion-content>