<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asmaul Husna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <video
  autoplay muted controls
  width="100%"
  control="controls"
  preload="metadata"
  autoplay="autoplay"
  webkit-playsinline="a'webkit-playsinline"
  class="videoPlayer">
<source src="assets/test.mp4" type="video/mp4"/>
</video>
</ion-card>
<p>Manfaat-manfaat membaca Asmaul Husna</p>
<p><h5>1. Membuka Pintu Rezeki</h5><p>
<p><h5>2. Menyembuhkan penyakit</h5><p>
<p><h5>3. Mendapat keselamatan</h5><p>
 <p><h5>  4. Mendapat keampunan</h5><p> 
  <p><h5>  5. Memperoleh kemudahan</h5><p>
    <p><h5> 6. Memperoleh keturunan</h5><p>
      <p><h5>7. Menumbuhkan rasa percaya diri</h5><p>
        <p><h5> 8. Mengendalikan nafsu</h5><p>
          <p><h5> 9. Menjaga keharmonisan rumah tangga</h5><p>
            <p><h5> 10. Mencerdaskan otak</h5><p>
              <p><h5>  11. Terhindar dari sifat lupa</h5><p>
                <p><h5> 12.  Mendekatkan diri pada Allah</h5><p>
                  <p><h5>  13. Menjadi muslim yang sejati</h5><p>
                    <p><h5>  14. Memperkuat persatuan dan kesatuan</h5><p>
                      <p><h5> 15. Memperkuat keimanan seorang hamba</h5><p>
              
          
</ion-content>
