<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>FAQs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
<img src="assets/q.png" class="center" height="20%">
<p>Apakah Tujuan Aplikasi Ini Dibuat?<br><br>
<a>Aplikasi ini dibuat bertujuan untuk memudahkan pengguna yang ingin mencari bahan-bahan islamic dalam satu aplikasi.</a></p>
<p>Adakah aplikasi ini selamat untuk digunakan menggunakan akaun peribadi sendiri?<br><br>
<a>Aplikasi selamat digunakan kerana data yang telah di isi oleh pengguna akan di sulitkan dan tidak boleh di akses oleh sesiapapun termasuk Admin</a></p>

</ion-content>
