<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Surah Al-Falaq</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="/assets/alfalaq.png"></ion-img>
<audio src="/assets/alfalaq.mp3" controls></audio>
Kelebihan Surah Al-Falaq
<br><br>
1. Jika dibacakan sebelum tidur, ia bertujuan untuk menghindari dari segala macam jenis sihir, godaan syaitan yang terkutuk, baik yang berasal dari golongan manusia maupun jin.
<br><br>
2. Bila dibaca 100 kali, dapat melindungi diri dari akan godaan syaitan, manusia, kegelapan malam, mahupun kejahatan manusia.
<br><br>
3. Bila dibaca 3 kali waktu pagi dan petang, Allah akan mencukupkan keperluannya.
<br><br>


</ion-content>
<ion-footer>
  <p>dasdas</p>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button [routerLink]="['/home']" tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Selawat&Zikir</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/doamain']" tab="map">
        <img src="assets/hands.png" width="55%">
        <ion-label>Doa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/contact']" tab="about">
        <ion-icon name="alert-outline"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-footer>
  