<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Surah Al-Falaq</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="/assets/alfalaq.png"></ion-img>
<audio src="/assets/alfalaq.mp3" controls></audio>
Kelebihan Surah Al-Falaq
<br><br>
1. Jika dibacakan sebelum tidur, ia bertujuan untuk menghindari dari segala macam jenis sihir, godaan syaitan yang terkutuk, baik yang berasal dari golongan manusia maupun jin.
<br><br>
2. Bila dibaca 100 kali, dapat melindungi diri dari akan godaan syaitan, manusia, kegelapan malam, mahupun kejahatan manusia.
<br><br>
3. Bila dibaca 3 kali waktu pagi dan petang, Allah akan mencukupkan keperluannya.
<br><br>


</ion-content>