<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Ayat Kursi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="/assets/kursi.jpg"></ion-img>
<audio src="/assets/kursi.mp3" controls></audio>
Hikmat Ayat Kursi
<br><br>
1.Orang yang selalu membaca ayat Kursi dicintai dan dipelihara Allah sebagaimana Dia memelihara Nabi Muhammad SAW.
<br><br>
2.Sesiapa berwudhuk lalu membaca ayat Al-Kursi sekali, nescaya Allah akan meninggikan darjatnya setinggi 40 darjat dan Allah akan mendatangkan para malaikat menurut bilangan hurufnya, seraya berdoa untuk sipembaca sehinggalah ke hari Qiamat.
<br><br>
3.Sesiapa membaca Al-Qursi sebelum keluar rumah, maka Allah mengutuskan 70 000 Malaikat kepadanya, mereka semua memohon keampunan dan mendoakan untuknya.
<br><br>
4.Sesiapa sentiasa membaca ayat Al-Kursi, nescaya Allah akan kurniakan kepada ahli rumahnya kebaikkan yang tidak terhitung banyaknya.
<br><br>
5.Membacanya dapat menghilangkan rasa marah, dijauhi bala bencana dan gangguan syaitan.
<br><br>
6.Sesiapa membacanya ketika dalam kesempitan nescaya Allah azza wa jalla akan memberikan pertolongan kepadanya dan jika seseorang itu miskin akan menjadi kaya.
<br><br>
7.Sesiapa pulang ke rumahnya serta membaca ayat Kursi, Allah hilangkan segala kefakiran didepan matanya.
<br><br>
8.“Sesiapa dikalangan umatku yang membaca ayat Kursi 12 kali pada pagi Jumaat, kemudian berwuduk dan solat sunat dua rakaat, Allah memelihara daripada kejahatan syaitan dan kejahatan pembesar.”
<br><br>
9.Sesiapa membacanya nescaya Allah mengutuskan malaikat untuk menulis kebaikannya dan menghapuskan keburukannya dari detik itu sampai esok hari,
<br><br>
10.Ayat Kursi yang dibaca dengan penuh khusyuk, InsyaAllah, boleh menyebabkan syaitan dan jin terbakar.
<br><br>

</ion-content>
<ion-footer>
  <p>dasdas</p>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button [routerLink]="['/home']" tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Selawat&Zikir</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/doamain']" tab="map">
        <img src="assets/hands.png" width="55%">
        <ion-label>Doa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/contact']" tab="about">
        <ion-icon name="alert-outline"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-footer>
  