<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Doa Mohon Keamanan Negara<br>Dan Rezeki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2 class="ion-text-center">رَبِّ اجْعَلْ هَـَذَا بَلَداً آمِناً وَارْزُقْ أَهْلَهُ مِنَ الثَّمَرَاتِ مَنْ آمَنَ مِنْهُم بِاللّهِ وَالْيَوْمِ الآخِرِ قَالَ وَمَن كَفَرَ فَأُمَتِّعُهُ قَلِيلاً ثُمَّ أَضْطَرُّهُ إِلَى عَذَابِ النَّارِ وَبِئْسَ الْمَصِيرُ</h2>
    </ion-text>
   
    <h6>Rabbij’al al haza baladan ‘aminan warzug ahlahu mi-nassamarati man ‘amana minhum billahi walyaumil akhir(i), qala waman kafara fa umatti ‘uhu qalilan summa adtarruhu ila ‘azabin nar(i), wabil’sal masir</h6>
    
    <h6>Ya Tuhanku, jadikanlah negeri ini negeri aman sentosa, dan berikanlah reziki dari buah-buahan kepada penduduknya yang beriman kepada Allah dan hari kemudian diantara mereka. Allah berfirman: “Dan kepada orang yang kafirpun aku beri kesenangan sementara, kemudian aku paksa ia menjalani siksa neraka dan itulah seburuk-buruk tempat kembali”. (Surah Al-Baqarah: 126)</h6>
  </ion-content>
  <ion-footer>
    <p>dasdas</p>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/home']" tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Selawat&Zikir</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/doamain']" tab="map">
          <img src="assets/hands.png" width="55%">
          <ion-label>Doa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/contact']" tab="about">
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Report</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-footer>
    