<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Surah Al-Fatihah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="/assets/fatihah.png"></ion-img>
<audio src="/assets/alfatihah.mp3" controls></audio>
Kelebihan Surah Al-Fatihah
<br><br>
1. SURAH PERTAMA YANG DITURUNKAN SECARA LENGKAP
<br><br>
2. SURAH PEMBUKA AL QURAN DAN SOLAT
<br><br>
3. SURAH YANG PALING AGUNG DALAM AL QURAN
<br><br>
4. SURAH AL FATIHAH SEBAGAI PENAWAR / PENYEMBUH PENYAKIT
<br><br>
5. SURAH YANG EKSLUSIF, DITURUNKAN HANYA UNTUK NABI SAW
<br><br>
6. SURAH YANG MENJADI RUKUN SOLAT
<br><br>
7. SURAH YANG DIBERI BANYAK GELARAN KERANA KEISTIMEWAANNYA
<br><br>

</ion-content>
