<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Selawat Munjiyat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2 class="ion-text-center">اَللهم صَلِّ عَلَى سَيِّدِنَا مُحَمَّدٍ وَعَلَى آلِ سَيِّدِنَا مُحَمَّدٍ
      صَلَاةً تُنْجِيْنَا بِهَا مِنْ جَمِيْعِ الْأَهْوَالِ وَالْآفَاتِ
       وَتَقْضِيْ لَنَا بِهَا جَمِيْعَ الْحَاجَاتِ
      وَتُطَهِّرُنَا بِهَا مِنْ جَمِيْعِ السَّيِّئَاتِ
      وَتَرْفَعُنَا بِهَا عِنْدَكَ أَعْلَى الدَّرَجَاتِ
      وَتُبَلِّغُنَا بِهَا أَقْصَى الْغَايَاتِ مِنْ جَمِيْعِ الْخَيْرَاتِ فِيْ الْحَيَاةِ وَبَعْدَ الْمَمَاتِ</h2>
    </ion-text>
    <h6>Allâhumma shalli ‘alâ Sayyidinâ Muhammadin wa ‘alâ âli Sayyidinâ Muhammadin shalâtan tunjînâ bihâ min jamî’il ahwâli wal âfât wa taqdhî lanâ bihâ jamî’al hâjat wa tuthahhirunâ bihâ min jamî’is sayyiât wa tarfa’unâ bihâ ‘indaka a’lad darajât wa tuballighunâ bihâ aqshal ghâyat min jamî’il khairâti fil hayâti wa ba’dal mamât</h6>
    
    <h6>Ya Allah selawatkanlah ke atas penghulu kami Nabi Muhammad dan atas keluarga penghulu kami Nabi Muhammad akan sebagai selawat yang melepaskan kami dengannya dari segala keadaan huru hara dan kebinasaan dan menunaikan bagi kami dengannya segala hajat dan membersihkan akan kami dengannya dari sekelian kesalahan dan mengankat akan kami dengannya di sisi Mu setinggi-tinggi darjat dan menyampaikan akan kami dengannya segala tujuan dari sekelian kebaikkan ketika hidup dan selepas kematian.”</h6>
   
  </ion-content>
  <ion-footer>
    <p>dasdas</p>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/home']" tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Selawat&Zikir</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/doamain']" tab="map">
          <img src="assets/hands.png" width="55%">
          <ion-label>Doa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/contact']" tab="about">
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Report</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-footer>
    