<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Doa Mohon Dipelihara<br>Dari Siksaan Neraka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2 class="ion-text-center">رَبَّنَا مَا خَلَقْتَ هَذا بَاطِلاً سُبْحَانَكَ فَقِنَا عَذَابَ النَّارِ رَبَّنَا إِنَّكَ مَن تُدْخِلِ النَّارَ فَقَدْ أَخْزَيْتَهُ وَمَا لِلظَّالِمِينَ مِنْ أَنصَارٍ رَّبَّنَا إِنَّنَا سَمِعْنَا مُنَادِياً يُنَادِي لِلإِيمَانِ أَنْ آمِنُواْ بِرَبِّكُمْ فَآمَنَّا رَبَّنَا فَاغْفِرْ لَنَا ذُنُوبَنَا وَكَفِّرْ عَنَّا سَيِّئَاتِنَا وَتَوَفَّنَا مَعَ الأبْرَارِ رَبَّنَا وَآتِنا ما وعدتنا على رسلك ولا تخزنا يوم القيامة إنك لا تخلف الميعاد</h2>
    </ion-text>
   
    <h6>Rabbana ma’khalaqta haza batilan, subhanaka faqina ‘azabannar(i), rabbana innaka man tudkhilin nara faqad akhzitahu, wama liz-zalimina min ansar(in), rabbana innana sami’na munadiyan-yunadil lil ‘imani an aminu birab-bikum fa’amanna, rabbana fagfir lana zunubana wakaffir ‘anna sayyi’atina watawaffana ma’al abrar(i), rabbana wa’atina ma wa’adtana ‘ala rusulika wala tukh zina yaumal qiyamati, innaka la tukhliful mi’ad.</h6>
    
    <h6>"Wahai Tuhan kami! Tidaklah Engkau menjadikan benda-benda ini dengan sia-sia, Maha Suci Engkau, maka peliharalah kami dari azab neraka. Wahai Tuhan kami! Sebenarnya sesiapa yang Engkau masukkan ke dalam neraka maka sesungguhnya Engkau telah menghinakannya, dan orang-orang yang zalim tidak akan beroleh seorang penolong pun; Wahai Tuhan kami! Sesungguhnya kami telah mendengar seorang Penyeru (Rasul) yang menyeru kepada iman, katanya: ` Berimanlah kamu kepada Tuhan kamu ', maka kami pun beriman. Wahai Tuhan kami, ampunkanlah dosa-dosa kami, dan hapuskanlah daripada kami kesalahan-kesalahan kami, dan matikanlah kami bersama orang-orang yang berbakti; Wahai Tuhan kami! Berikanlah kepada kami pahala yang telah Engkau janjikan kepada kami melalui Rasul-rasulMu, dan janganlah Engkau hinakan kami pada hari kiamat; sesungguhnya Engkau tidak memungkiri janji". (Surah A-li Imraan: 191-194)</h6>
    <br>
  </ion-content>
  <ion-footer>
    <p>dasdas</p>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/home']" tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Selawat&Zikir</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/doamain']" tab="map">
          <img src="assets/hands.png" width="55%">
          <ion-label>Doa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/contact']" tab="about">
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Report</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-footer>
    