<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
   
    <ion-title>Zikir Jumaat</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <video
    autoplay muted controls
    width="100%"
    control="controls"
    preload="metadata"
    autoplay="stop"
    webkit-playsinline="a'webkit-playsinline"
    class="videoPlayer">
  <source src="assets/jumaat.mp4" type="video/mp4"/>
  </video>
  </ion-card>


  Ya Allah<br>
  (Wahai Allah)
<br><br>
Fadhilatnya:
Anda akan diberikan nikmat dapat mengerjakan solat, mengekalkan keimanan, menjadi seorang yang berusaha; dan bagi wanita, akan merasakan senang dan suka untuk menutup aurat dengan baik.



</ion-content>
<ion-footer>
  <p>dasdas</p>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button [routerLink]="['/home']" tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Selawat&Zikir</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/doamain']" tab="map">
        <img src="assets/hands.png" width="55%">
        <ion-label>Doa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/contact']" tab="about">
        <ion-icon name="alert-outline"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-footer>
  