<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Surah Al-Kafirun</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="/assets/alkafirun.png"></ion-img>
<audio src="/assets/alkafirun.mp3" controls></audio>
Kelebihan Surah Al-Kafirun
<br><br>
1. Mengajar Agar Bertolak Ansur Dalam Beragama
<br><br>
2. Surah Al Kafirun Sangat Ditakuti Iblis
<br><br>
3. Pahala Membaca Sama Dengan Satu Perempat Al-Quran
<br><br>
4. Dianjurkan Membacanya Dalam Solat-Solat Malam
<br><br>
5. Dibaca Sebelum Tidur Dapat Membebaskan Kemusyrikan
<br><br>



</ion-content>
<ion-footer>
  <p>dasdas</p>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button [routerLink]="['/home']" tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Selawat&Zikir</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/doamain']" tab="map">
        <img src="assets/hands.png" width="55%">
        <ion-label>Doa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/contact']" tab="about">
        <ion-icon name="alert-outline"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-footer>
  