<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Checkbox</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-list>
      <ion-list-header>Characters</ion-list-header>
        <ion-item>
          <ion-label>Jerry</ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
          <ion-label>Bugs Bunny</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox disabled slot="start"></ion-checkbox>
          <ion-label>Elsa</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="secondary" slot="start"></ion-checkbox>
          <ion-label>Upin Ipin</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="danger" checked slot="start"></ion-checkbox>
          <ion-label>Mickey Mouse</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          <ion-label>Awang kenit</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="tertiary" checked slot="start"></ion-checkbox>
          <ion-label>Doraemon</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="medium" checked slot="start"></ion-checkbox>
          <ion-label>Pokemon</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary" disabled slot="start"></ion-checkbox>
          <ion-label>Popeye</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="dark" checked slot="start"></ion-checkbox>
          <ion-label>Bobby Hills</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="secondary" checked slot="start"></ion-checkbox>
          <ion-label>Tom</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox color="primary" slot="start"></ion-checkbox>
          <ion-label>Droopy</ion-label>
        </ion-item>
      </ion-list>
  </ion-content>
