<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Selawat Ibrahimiyah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2 class="ion-text-center">اَللَّهُمَّ صَلِّ عَلٰى سَيِّدِنَا مُحَمَّدٍ وَعَلٰى آلِ سَيِّدِنَا مُحَمَّدٍ
      كَمَا صَلَّيْتَ عَلٰى سَيِّدِنَا إِبْرَاهِيْمَ وَعَلٰى آلِ سَيِّدِنَا إِبْرَاهِيْمَ
      وبَارِكْ عَلٰى سَيِّدِنَا مُحَمَّدٍ وَعَلٰى آلِ سَيِّدِنَا مُحَمَّدٍ
      كَمَا بَارَكْتَ عَلٰى سَيِّدِنَا إِبْرَاهِيْمَ وَعَلٰى آلِ سَيِّدِنَا إِبْرَاهِيْمَ
      فِيْ الْعَالَمِيْنَ إِنَّكَ حَمِيْدُ مَجِيْدٌ</h2>
    </ion-text>
    <h6>Allahumma salli ‘ala Muhammadin, Wa ‘ala ali Muhammadin, Kama sallaita ‘ala Ibrahima, wa ‘ala ali Ibrahima, wa barik ‘ala Muhammadin, wa ‘ala ali Muhammadin, Kama barakta ‘ ala Ibrahima, Wa ‘ ala ali Ibrahima, Fil a’lamina innaka hamidun Majid. </h6>
    
    <h6>Ya Allah, berilah rahmat kepada Penghulu kami Nabi Muhammad dan keluarga Sayidina Muhammad.

      Sebagaimana Engkau merahmati Sayidina Nabi Ibrahim dan keluarga Sayidina Nabi Ibrahim. Berkatilah penghulu kami Sayidina Nabi Muhammad dan keluarga Penghulu kami Sayidina Muhammad.
      
      Sebagaimana Engkau memberkati Sayidinia Nabi Ibrahim dan keluarga Sayidina Nabi Ibrahim. Di alam semesta ini, Engkau sahajalah Yang Paling Terpuji dan Yang Paling Mulia.</h6>
   
  </ion-content>
  <ion-footer>
    <p>dasdas</p>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/home']" tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Selawat&Zikir</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/doamain']" tab="map">
          <img src="assets/hands.png" width="55%">
          <ion-label>Doa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/contact']" tab="about">
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Report</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-footer>
    