<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Doa Mohon Keturunan Yang<br>Taat Kepada Allah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2 class="ion-text-center">رَبَّنَا وَاجْعَلْنَا مُسْلِمَيْنِ لَكَ وَمِن ذُرِّيَّتِنَا أُمَّةً مُّسْلِمَةً لَّكَ وَأَرِنَا مَنَاسِكَنَا وَتُبْ عَلَيْنَا إِنَّكَ أَنتَ التَّوَّابُ الرَّحِيمُ</h2>
    </ion-text>
   
    <h6>Rabbana waj’alna muslimaini laka wamin zurriy yatina um-matan muslimatan lak(a), wa arina manasikana watub ‘alaina innaka antat tawwabur rahim</h6>
    
    <h6>Wahai Tuhan kami! Jadikanlah kami berdua: orang-orang Islam (yang berserah diri) kepadaMu, dan jadikanlah daripada keturunan kami: umat Islam (yang berserah diri) kepadamu, dan tunjukkanlah kepada kami syariat dan cara-cara ibadat kami, dan terimalah taubat kami; sesungguhnya Engkaulah Maha Penerima taubat, lagi Maha Mengasihan”. (Surah Al-Baqarah: 128)</h6>
  </ion-content>
  <ion-footer>
    <p>dasdas</p>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/home']" tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Selawat&Zikir</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/doamain']" tab="map">
          <img src="assets/hands.png" width="55%">
          <ion-label>Doa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/contact']" tab="about">
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Report</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-footer>
    