<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Surah Al-Mulk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src="/assets/almulk.jpg"></ion-img>
<audio src="/assets/almulk.mp3" controls></audio>
Kelebihan Menagamalkan Surah Al-Mulk
<br><br>
1.Tidak Merasa Azab Kubur
<br><br>
2.Membantu Masuk Syurga
<br><br>
3.Pembaca Akan Dikeluarkan Dari Neraka Dan Dimasukkan Ke Dalam Syurga
<br><br>
4.Mengikut Sunnah Nabi Muhammad SAW
<br><br>
5.Menjadi Pengganti Semasa Soal Jawab Dengan Munkar Nakir
<br><br>
6.Wajah Akan Dicerahkan Seperti Nabi Yusuf Pada Hari Kiamat
<br><br>
7.Mengampunkan Dosa Pembaca
<br><br>
8.Hati Beriman
<br><br>
9.Disayangi Dan Dikasihi Oleh Orang Sekeliling
<br><br>
10.Melindungi Kita Dari Seksa Azab
<br><br>


</ion-content>
<ion-footer>
  <p>dasdas</p>
  <ion-tabs>
    <ion-tab-bar>
      <ion-tab-button [routerLink]="['/home']" tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
        <ion-icon name="newspaper"></ion-icon>
        <ion-label>Selawat&Zikir</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/doamain']" tab="map">
        <img src="assets/hands.png" width="55%">
        <ion-label>Doa</ion-label>
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="['/contact']" tab="about">
        <ion-icon name="alert-outline"></ion-icon>
        <ion-label>Report</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-footer>
  