<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Selawat Syifa'</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>
    <h2 class="ion-text-center">اَللَّهُمَّ صَلِّى عَلَى سَيِّدِنَا مُحَمَّدٍ
      طِبِّ الْقُلُوْبِ وَدَوَآئهَا
      وَعَافِيَةِ الْأَبْدَانِ وَشِفَآئِهَا
      وَنُوْرِ الْأَبْصَارِ وَضِيَآئِهَا
      وَعَلَى آلِهِ وَصحْبِهِ وَبَارِكْ وَسَلِّمْ</h2>
    </ion-text>
    <h6> Allahumma solli ‘ala sayyidina Muhammad tibbil-qulubi wadawaa-iha, Wa ‘afiyatil abdani wa syifa-iha, wanuu-ril absori wa dhiya-iha, wa ‘ala Aalihi wasohbihi wasallim. </h6>
    
    <h6>Ya Allah, limpahkanlah selawat ke atas penghulu kami, Nabi Muhammad yang merupakan ubat kepada hati-hati manusia dan penawarnya, kesembuhan bagi badan-badan dan penyembuhnya, cahaya segala penglihatan dan sinarannya, (begitu juga selawat ini dilimpahkan) ke atas ahli keluarga baginda, para sahabatnya, serta limpahkanlah kesejahteraan (ke atas mereka).</h6>
   
   
  </ion-content>
  <ion-footer>
    <p>dasdas</p>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button [routerLink]="['/home']" tab="schedule">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
          
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/selawat']" tab="speakers">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Selawat&Zikir</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/doamain']" tab="map">
          <img src="assets/hands.png" width="55%">
          <ion-label>Doa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="['/contact']" tab="about">
          <ion-icon name="alert-outline"></ion-icon>
          <ion-label>Report</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
    </ion-footer>
    